#comeLayer
{
    height:360px;
    position:relative;
    overflow:hidden;
    margin:auto;
    pointer-events: none;
}
.come
{
    /*font-size:21px;*/
    position:absolute;
    font-weight:bold;
    font-family:"MS Gothic";
    color:white;
    text-shadow: 2px 2px 2px black;
    white-space:nowrap;
    padding:0;
}
#measure
{
    white-space:nowrap;
}