#comeLayer
{
    position: absolute;
    margin:auto;
    pointer-events: none;
    overflow: hidden;
}
#comeListContainerPH 
{
    position:relative;	
}
#comeListContainer 
{
    position: absolute;
    background:#fff;
    left: 921px;
}
#comeList
{
    font-size:8pt;	
}
.come
{
    /*font-size:21px;*/
    position:absolute;
    font-weight:bold;
    font-family:"MS Gothic";
    color:white;
    text-shadow: 2px 2px 2px black;
    white-space:nowrap;
    padding:0;
}
#measure
{
    white-space:nowrap;
}